## Intro to Python Programming
- Prof Joanna Bieri
- Office: Duke 209

### Day 9 - Lets have some fun while we study for the exam!

We are going to use some Harry Potter data to make our exam studying more fun. There could be spoilers if you dig too deep into the data (aka Loylty). 

Have fun!

In [1]:
'''
You can just run this cell!
It will import the data and 
save all the lists we will need
'''
import numpy as np
import pandas as pd

# Here is a big data set of Harry Potter Characters information!
df = pd.read_csv('https://joannabieri.com/python/Characters2.csv')
# df is a special type of dictionary - we will learn more about Pandas later!
print("Stuff we know about the characters:")
for k in df.keys():
    print(k)

Stuff we know about the characters:
Id
Name
Gender
Job
House
Wand
Patronus
Species
Blood status
Hair colour
Eye colour
Loyalty
Skills
Birth

In [2]:
# Lets get some data and play around with it!
# A list of all the character names
chr_names = list(df['Name'])
# A list of each of those characters houses
chr_houses = list(df['House'])
# A list of each of those characters skills
chr_skills = list(df['Skills'])

# A list of all the houses
houses = ['Gryffindor', 'Ravenclaw', 'Slytherin', 'Hufflepuff']

### Problem 1

Print out the first 15 names on the list of characters.

### Problem 2

Print out the last 5 names on the list of characters.

### Problem 3

What is the different between the following slices. What should they each print out?
- chr_names[-2:]
- chr_names[:-2]
- chr_names[2:]
- chr_names[:2]

### Problem 4

Here is a reminder of the data we have:

     chr_names = list(df['Name'])
     chr_houses = list(df['House'])
     chr_skills = list(df['Skills'])

     houses = ['Gryffindor', 'Ravenclaw', 'Slytherin', 'Hufflepuff']


Write a for loop that loops through the first 10 chracters in the character names list and prints out their information: Name, House, and Skills.

### Problem 5


Write a for loop that loops through all of the chracters and only prints out the ones who are in Slytherin house.

### Problem 6


Write a for loop that loops through all of the chracters and only prints out the characters who are not assigned to a house.

### Problem 7

Loop through all the names in the list to find the shortest and longest name. Print those two names

### Problem 8 - Short answer

What kind of data type and value are returned by each of these commands:
    
    - a = chr_names[0]
    
    - b = len(chr_names[0])
    
    - c = (chr_names[0],chr_names[1],chr_names[2])
      
    - c[0] = None
      
    - b/10

In [6]:
c = (chr_names[0],chr_names[1],chr_names[2])
c[0] = None

TypeError: 'tuple' object does not support item assignment

### Problem 9 - Challenge

Write a "dating app" for choosing a Harry Potter Character. Your code shoud:

- Randomly choose a character and print their name, house, skills, hair color, and eye color.
- Ask the user if they want to choose this character as their favorite.
    - If the user says yes - prints a congratulations message and ends
    - If the user says no - asks if they want to see another match.
        - If they say yes - choose another character and try again
        - If they say no - print a thanks for tryin message and ends.

In [4]:
# Data you can use
chr_names = list(df['Name'])
chr_houses = list(df['House'])
chr_skills = list(df['Skills'])
chr_eyes = list(df['Eye colour'])
chr_hair = list(df['Hair colour'])

### Problem 10 - Creativity Challenge

Come up with something interesting that you can do with this data. Maybe there is something you want to know like...

- Does anyone else have the same skills as your favorite character? 
- Are there more male or female wizzards? What about per house?
- Which house has the most assigned characters? most skills? etc.
- Can you find any double agents aka people who belong to Gryffindor but are on Voldemorts side? 

Go crazy and see what you can find out!!!

Stuff we know about the characters:

    Id
    Name
    Gender
    Job
    House
    Wand
    Patronus
    Species
    Blood status
    Hair colour
    Eye colour
    Loyalty
    Skills
    Birth